
.pin {
	position: absolute;
	width: 5.5vmin;
	height: 8.25vmin;
	margin: -8.25vmin 0 0 -2.25vmin; /* let the bottom tip be the reference point for individual coordinates */
	-webkit-transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
	transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &:hover, &.--active {
    color: $pin-stroke;
    outline: none;

    >.pin-icon > .icon {
      fill-opacity: 1;
    }
  }
  
  >.pin-icon >.icon {
    fill-opacity: 0.6;
    -webkit-transition: fill-opacity 0.3s;
    transition: fill-opacity 0.3s;

    &.-pin {
      width: 100%;
      height: 100%;
    }

    &.-logo {
      position: absolute;
      top: 15%;
      left: 25%;
      width: 50%;
      height: 50%;
      fill: white;
    }
  }
  
  &.--active >.pin-icon >.icon.-pin {
	  stroke: $pin-stroke;
	  stroke-width: .4em;
  }
}