.-relax {
  fill: $relax;

  >.pin-icon >.-pin {
    fill: $relax;
  }

  &.--oslo {
    top: 19vmin;
    left: 39vmin;
  }

  &.--stockholm {
    top: 12vmin;
    left: 80vmin;
  }
}

.content__item[data-category='4'] >.content__item-title {
	color: $relax;
}

.grouped-by-category > [data-category='4']:first-child::before,
.grouped-by-category > :not([data-category='4']) + [data-category='4']::before {
	content: 'Relax';
	color: $relax;
}
