.-phone {
  fill: $phone;

  >.pin-icon >.-pin {
    fill: $phone;
  }

  &.--n-central-1 {
    top: 18vmin;
    left: 36vmin;
  }

  &.--n-central-2 {
    top: 20vmin;
    left: 36vmin;
  }
}

.content__item[data-category='2'] .content__item-title {
	color: $phone;
}


.grouped-by-category [data-category='2']:first-child::before,
.grouped-by-category :not([data-category='2']) + [data-category='2']::before {
	content: 'Phone Booth';
	color: $phone;
}
