.-lounge {
  fill: $lounge;

  >.pin-icon >.-pin {
    fill: $lounge;
  }

  &.--sydney {
    top: 47vmin;
    left: 45vmin;
  }

  &.--istanbul {
    top: 32vmin;
    left: 60vmin;
  }
}

.content__item[data-category='3'] >.content__item-title {
	color: $lounge;
}

.grouped-by-category > [data-category='3']:first-child::before,
.grouped-by-category > :not([data-category='3']) + [data-category='3']::before {
	content: 'Lounge';
	color: $lounge;
}
