.-conference {
  fill: $conference;

  >.pin-icon >.-pin {
    fill: $conference;
  }

  &.--sydney {
    top: 47vmin;
    left: 45vmin;
  }

  &.--istanbul {
    top: 32vmin;
    left: 60vmin;
  }
}

.content__item[data-category='5'] >.content__item-title {
	color: $conference;
}

.grouped-by-category > [data-category='5']:first-child::before,
.grouped-by-category > :not([data-category='5']) + [data-category='5']::before {
	content: 'Conference Room';
	color: $conference;
}
